h1 {
    font-family: 'Redressed', cursive;
    font-size: 40px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    text-align: center;
    text-decoration: none;
}

body {
    background-color: rgb(134, 170, 159);
}

ul {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

ol {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}